<div class="centered"> 
  <div id="skrollrviewwindow"><div id="automargins">
  <!--central proposition -->
  <div class="cp" data-0="top:2000px;" data-300="top:100px;" data-800="top:100px;" data-1200="top:-200%;"><p style="text-align:left;" class="presentation">
           Social media users create online identities by crafting a persona on the framework provided by social media, and then continuously<br> act as curator of their online presence (Hogan, 2010).</p></div>
  
    

  



  </div></div>

	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>
