<div class="centered"> <div id="skrollrviewwindow"><div id="automargins">
         <div class="cp" data-0="top:700px;" data-300="top:100px;"><p style="text-align:left;" class="presentation">
           Social media users create online identities by crafting a persona on the framework provided by social media, and then by continuously acting as curator of their online presence (Hogan, 2010).</p></div>
  <div class="cp" data-200="top:2000px;" data-500="top:400px;"> <p style="text-align:left;" class="presentation">This process can lead to the user’s online identity becoming fragmented and falsified. 
    Particularly in young people, the discordances of creating an identity online are often not recognized or discussed.</p></div>
  <div class="cp" data-500="top:2000px;" data-700="top:600px;"><p style="text-align:left;" class="presentation"><em>The inter_faces project aims to create discussion about how we use social media to create identity, 
      through the use of interactive portraiture and a shared online space to discuss experiences.<em></p></div>
  
  <!-- facebook animated bit -->
  <%= image_tag "cprop1.svg", :id=>"cprop1", :data => { 0 => "opacity: 1", 400 => "opacity: 1", 420 => "opacity: 0" } %>
  <%= image_tag "cprop2.svg", :id=>"cprop2", :data => { 100 => "opacity: 0", 300 => "opacity: 1", 400 => "opacity: 1", 420 => "opacity: 0" } %>
  <%= image_tag "cprop3.svg", :id=>"cprop3", :data => { 400 => "opacity: 0", 500 => "opacity: 1" } %>
         
         
    <!--%= image_tag "painted1.png", :id=>"painted1", :data => { 200 => "top: 0px", 500 => "top:0px", 800 => "top: -2000px" } %>
           <!--%= image_tag "painted2.png", :id=>"painted2", :data => { 0 => "opacity:0", 300 => "opacity:1", 500 => "top:0px", 800 => "top:-2000px" } %></div></div>
    
<!--<div class="centered"><body>

<div id="skrollr-body">
<div id="text1" data-0="top:1000px;" data-100="top:300px;" data-400="display:block;" data-700="top:-100%;display:none;"><p>Post-modern theorists have posited that our self-identity is composed of our interactions with others (Goffman, 1959). 
    Social media provides a framework of interactions on which a user can build their online identity (Hogan, 2010). 
 </p><br></div>
  
  <div id="text1" data-100="top:1500px;" data-200="top:430px;" data-700="display:block;" data-900="top:-100%;display:none;">However, this framework can lead to the user’s online identity becoming fragmented and falsified. 
    Particularly in young people, the discordances of creating an identity online are often not recognized or discussed. 'Image crafting' is a term that acknowledges the way we carefully curate our online persona.</p><br></div>
  
  <div id="text1" data-200="top:1500px;" data-300="top:580px;" data-900="display:block;" data-1100="top:-100%;display:none;">    This project aims to create discussion about how we use social media to create identity, 
    through the use of interactive portraiture. The website will present facts about social media use and ask questions of the viewer relating to these facts, with subtly animated illustration to create engagement, interest and emphasis.  
    Through this, the process and perils of creating an identity online are exposed in a visual format. </p><br><br><hr></div>
  
    <div id="how" data-1100="top:2000px;" data-1300="top:1050px"><img src="http://s9.postimg.org/4wzr4keqj/how.png">
      <ol>
        <li><b>present viewer with fact</b></li>
        <li><b>animated illustration that contains a metaphor related to this fact</b></li>
        <li><b>thought-provoking question</b></li>
        <li><b>opportunity for viewer to add their thoughts/comments on site or via Twitter, as well as resources to help create discussions groups with peers or in the community.</b></li>
    </ol><hr></div>
</div>
  
  
  
  
  <div id="aim" data-600="top:1500px;" data-900="top:1000px"><img src="http://s15.postimg.org/ubclfwkev/aim.png"><p><b>to provoke the user to question and discuss their image crafting practices on social media.</b></p><hr></div><br>
<div id="pics"><img src="http://25.media.tumblr.com/b8aba6b1021c611a677e543646bf497b/tumblr_mu429kEzCs1s712q9o2_500.jpg"><br>
  <img src="http://24.media.tumblr.com/31624b6d711bebe4d0ea4ea0bf8a26e8/tumblr_mu429kEzCs1s712q9o1_500.jpg"></div>
    </div>-->


	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>
