<h1>About</h1>
			<p>
				Inter_Faces is a project designed to encourage discussion about the way we use social media to create identity. Most of us use social media every day: a quick check of Facebook, a Tweet here and there. Because our interactions with social media are usually brief, we often don’t question how and why we’re using social media, and how our social media use affects us. The use of social media isn’t problematic within itself, but can influence our online identity and our real life selves in ways that we might not realize. 

				By talking about social media and critically engaging with our online practices, we can better understand how social media shapes our online identities. We can navigate around issues that might arise during the process of creating an identity online and bring out into the open some of the things that might not be usually talked about. Basically: talk more, think more, understand more. 

				Each component of the main page is individually share-able via Facebook or Twitter, so feel free to utilize these facts and questions to create discussion about social media on social media. There is also the opportunity to share your thoughts and opinions anonymously via the website, and to view other’s opinions. Finally, the resources page has some questions for you to ask yourself and others when using social media, printable prompt cards and ideas for generating discussion of how we use social media in your own community.
			</p>

