<div class="centered"> <%= image_tag "about.png", :class=>"titles" %>
  <p class="staticpagestext" style="text-align:left">
    This project was made as part of Zoe Deans' fourth-year illustration honours project at Massey University, Wellington. The online process workbook for this project can be found <a href="http://zoedeans222454.tumblr.com">
    here</a>.<br><br>
        Zoe can be contacted at: zoedeans@gmail.com<br><br>
Zoe's supervisor is Mike McAuley, who can be contacted at: m.p.macauley@massey.ac.nz<br><br>
    The inter_faces project is built in Ruby on Rails, with the support of the great <a href="https://www.facebook.com/RailsGirlsWellington"> Rails Girls Wellington</a> community. 
    It utilises prinzhorn's JavaScript library, <a href="https://github.com/Prinzhorn/skrollr">skrollr.</a><br><br>
			</p>

</div>