<div class="centered"> 
  <div id="skrollrviewwindow"><div id="automargins">
  <!--central proposition -->
    <p style="text-align:left">
    The inter_faces project aims to create discussion about the way we create identities online. Generation Y members are often referred to as 'digital natives', meaning that they have grown
    up with the internet and use it with fluency and ease. Because of this, they don't often question how and why they are using social media and the effect that this has on them. inter_faces uses a blend
    of digital media and illustration to create an interactive experience that leads the user to a shared online space where they can discuss their experiences. 
    <br><br><br>
    To see how the project will develop in the future, please visit the <%= link_to "in progress", future_path %> page. 
    Workbook process and development for this project can be found <a href="http://zoedeans222454.tumblr.com/">here.</a>
    <br><br><br>
    The inter_faces project was created by Zoe Deans as part of a fourth-year design course at Massey University, Wellington. The inter_faces website was built in Ruby on Rails, with the help of the very awesome <a href="https://www.facebook.com/RailsGirlsWellington">Rails Girls Wellington</a>
    and <a href="http://www.codeyoga.org/">Code Yoga</a> folk. It utilises prinzhorn's JavaScript library <a href="https://github.com/Prinzhorn/skrollr">skrollr.</a> <br>
      Zoe can be contacted at zoedeans@gmail.com. Zoe's supervisor was Mike McAuley, who can be contacted at m.p.mcauley@massey.ac.nz<br><br></p>
<!-- link to workbook and also link to the future page~~ woo future -->


	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>
