<div class="centered"> <%= image_tag "contact.png", :class=>"titles" %>
  <p class="staticpagestext" style="text-align:left">
This project was made as part of Zoe Deans' fourth-year illustration honours project at Massey University, Wellington.<br><br>
        Zoe can be contacted at: zoedeans@gmail.com<br><br>
Zoe's supervisor is Mike McAuley, who can be contacted at: m.p.macauley@massey.ac.nz<br><br>
        Thanks to everyone who helped out along the way, including all the awesome people at Massey
        and the Rails Girls Wellington community.
			</p>

</div>