<h1>Theory</h1>
			<p>Inter_Faces facts are based on actual, real-life scholarly articles. Underpinning the whole project is a bunch of post-modern theory about who we are and how we present ourselves. In short, this theory says that basically our identities are not one fixed thing: they’re fluid, fragmented things defined by our interactions with others. Erving Goffman posited in 1959 that we present a ‘front’ of our personality when interacting with others, and that other stuff goes on ‘backstage’. This analogy makes a lot of sense when applied to the way we interact online: our online self becomes a ‘front’ for our offline self. I also looked at some recent theories that have emerged since social media has become popular, including Bernie Hogan’s idea that social media provides a framework of interactions on which a user can build their online identity. 

			If you’re interested in reading more about this… etc etc

			To look up facts and figures for yourself, the Pew Research Center etc etc.
			</p>
  <div id="how" data-1100="top:2000px;" data-1300="top:1050px"><img src="http://s9.postimg.org/4wzr4keqj/how.png">
      <ol>
        <li><b>present viewer with fact</b></li>
        <li><b>animated illustration that contains a metaphor related to this fact</b></li>
        <li><b>thought-provoking question</b></li>
        <li><b>opportunity for viewer to add their thoughts/comments on site or via Twitter, as well as resources to help create discussions groups with peers or in the community.</b></li>
    </ol><hr></div>
