<div class="centered"><%= image_tag "theory.png", :class=>"titles" %>
  <p class ="staticpagestext">While researching this project, I read research on identity creation that spanned from early post-modernism in the late 1950's up to August 2013. 
        What interested me was the ideas in the older texts could often be easily applied to the ways we use social media in a contemporary context, and that more recent texts
        oftened referenced these older texts. One idea that I found particularly fitting for this project was Bernie
        Hogan's <em>The Presentation of Self in the Age of Social Media: Distinguishing Performances and Exhibitions Online</em>, which describes the act of creating
        an identity online as a process of curation and exhibition rather than performance, in reference to Erving Goffman's 1959 paper <em>The Presentations of Self in Everyday Life.</em>
        When we use social media, we consciously choose what to display, and we're prone to pruning content that we don't think fits with out desired representation of ourself. <br><br><br>
        It was this idea that we are continuously shaping and manipulating our online identity that lead me to begin questioning the way we create identities online.
        The more technical research that informs this project is based in studies, reviews and surveys of peoples' online behavioural habits. While working through
        this information, I found that there is nothing inherently wrong with creating identities online, but there are issues that users should be aware of 
        when making and shaping their online self. I was also concerned that the process itself is not often questioned or reflected on, particularly by young people, 
        who are the target audience for this project. <br><br><br>
        Throughout the duration of this project, I came across many (fairly sensationalist) news items that decried social media for ruining our relationships, for 
        the sexualisation of children, for destroying interpersonal skills. As a 'digital native', someone who has grown up with the internet and who uses social media
        on a day-to-day basis, these critiques often seemed overblown. However, it has been important for me to recognise that online identity creation can be 
        problematic and that the problems often require us to critically examine our actions and motivations when using social media. <br><br><br>
        This project aims to generate discussion about the way we use social media to create online identities. By using this site, adding your thoughts, sharing it with
        others and having discussions - either online or offline - you're helping this project to achieve its aim. <br><br><br>
        If you want to read more (or you just want to check my facts and figures!), I've included my resources here.
    <br><br>
    
        <a href="https://dl.dropboxusercontent.com/u/50236274/danahboydpublicprivateorwhat.pdf">
          danah boyd - <em>Public, Private or What</em></a><br>
         <a href="https://dl.dropboxusercontent.com/u/50236274/distinguishing%20performances%20and%20exhibitions%20online.pdf">
           Bernie Hogan - <em>The Presentation of Self in the Age of Social Media: Distinguishing Performances and Exhibitions Online</em></a><br>
        <a href="https://dl.dropboxusercontent.com/u/50236274/facebooknarcissist.pdf">
          Soraya Mehdizadeh - <em>Self-Presentation 2.0: Narcissism
          and Self-Esteem on Facebook</em></a><br>
        <a href="https://dl.dropboxusercontent.com/u/50236274/facebooksubjectivewellbeing.pdf">
          Ethan Kross et al. - <em>Facebook Use Predicts Declines in Subjective Wellbeing in Young Adults</em></a><br>
        <a href="https://dl.dropboxusercontent.com/u/50236274/friend%20me%20if%20you%20facebook.pdf">
          E. J. Westlake - <em>Friend Me if You Facebook</em></a><br>
        <a href="https://dl.dropboxusercontent.com/u/50236274/goffman-selfeverydaylife.pdf">
          Erving Goffman - <em>Presentations of Self in Everyday Life</em></a><br>
        <a href="http://www.pewinternet.org/Reports/2013/Teens-Social-Media-And-Privacy.aspx">
          Pew Internet - <em>Teens, Social Media and Privacy</em></a><br>
        <a href="http://pewinternet.org/Reports/2011/Teens-and-social-media.aspx">
          Pew Internet - <em>Teens, Kindness and Cruelty on Social Network Sites</em></a>
    
    
			</p>
