<div class="centered"><h1>Discussion tools</h1>
			<p>Questions to ask of yourself and of others when using social media. 
				<ul>
					<li>does your online self match your offline self?</li>
					<li>Are you being fairly represented online?</li>
					<li>Are you trying to impress someone?</li>
					<li>Are you trying to prove something?</li>
					<li>How do you think you’re perceived online?</li>
				</ul>
			</p>
</div>