extraneous matter



  <!-- facebook animated bit -->
    <%= image_tag "cprop1.svg", :id=>"cprop1", :data => { 0 => "opacity: 0.4", 400 => "opacity: 0.4", 650 => "opacity: 0" } %>
  <%= image_tag "cprop2.svg", :id=>"cprop2", :data => { 100 => "opacity: 0", 300 => "opacity: 0.4", 700 => "opacity: 0.4", 800 => "opacity: 0" } %>
  <%= image_tag "cprop3.svg", :id=>"cprop3", :data => { 400 => "opacity: 0", 500 => "opacity: 0.4", 1000 => "top:0px", 1200 => "top:-200%" } %>
  
  <%= image_tag "info1.svg", :class=>"info", :data => { 1000 => "top:2000px", 1400 => "top: 0px", 2200 => "opacity: 1", 2500 => "opacity: 0" } %>
  <%= image_tag "info2.svg", :class=>"info", :data => { 1600 => "opacity: 0", 1800 => "opacity: 1", 2200 => "opacity: 1", 2500 => "opacity: 0" } %>
  <%= image_tag "info3.svg", :class=>"info", :data => { 1800 => "opacity: 0", 2000 => "opacity: 1", 2200 => "opacity: 1", 2500 => "opacity: 0" } %>
  
  <div class="cp" data-1400="top:2000px;" data-1600="top:500px;" data-2200="top:500px;" data-2500="top:-200%"><p style="text-align:left;" class="presentation">
    27% of non-internet users said they felt that most people could be trusted</p></div>
  
<div class="cp" data-1600="top:2000px;" data-1800="top:600px;" data-2200="top:600px;" data-2500="top:-200%"><p style="text-align:left;" class="presentation">
compared to 46% of internet users.</p></div>
  
  <%= image_tag "whyisthis.png", :id=>"whyisthis", :data => { 1800 => "top:2000px", 2000 => "top: 700px", 2200 => "top: 700px", 2700 => "top:-200%" } %>
    
      <!-- ok so maybe add some text boxes describing what all this theory jazz is about. that shit's so fun -->
  <%= image_tag "theory1.svg", :id=>"theory1", :data => { 2700 => "opacity: 0", 3000 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory2.svg", :id=>"theory2", :data => { 2900 => "opacity: 0", 3300 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory3.svg", :id=>"theory3", :data => { 3300 => "opacity: 0", 3500 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory4.svg", :id=>"theory4", :data => { 3800 => "opacity: 0", 4000 => "opacity: 1", 4200 => "opacity: 1", 4400 => "opacity:0" } %>

  </div></div>