
<body>
<div id="skrollr-body">
  <img src="http://s23.postimg.org/obr6i8uor/interface.png">
  <%= image_tag "pip2.png", :id => "pip2" %>
	<div id="intro"><p>Inter_faces is a project that encourages discussion about how we use social media <br>and the way we create identities online.<br>
    <b>Scroll down to begin.</b></p></div>

  
  <div id="funfact" data-900="top:3000px;" data-1300="top:1700px" data-1600="display:block;"><p>studies have found a correlation between narcissism and the amount of times you check Facebook each day</p>
  <img src="http://s24.postimg.org/k6hqzecqt/pip1.png" width="100%"></div> 
  <div id="question" data-1800="top:3000px;" data-2100="top:2400px" data-2200="display:block;"><img src="http://s12.postimg.org/n8r52fpcd/chckfcbk.png"></div>
  

<!-- find some way of making linework in relation to pip's face so they don't cross over when browser resized-->  
  <div id="linework"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="100%" height="405px"">
	<path 

		style="fill:none;stroke:#333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:6000"
				data-1400="stroke-dashoffset:6000;" data-1800="stroke-dashoffset:0;" 

			d="lots of numbers"/>
</svg>
  </div>


	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</body>