<h1>HELLO, RAILS!</h1>
<%= link_to "My Blog", controller: "posts" %>
<body>
	<p> hello how are you doing </p>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="246px" height="1500px">
	<path 

		style="fill:none;stroke:#333333;stroke-width:3;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:5000;stroke-dashoffset:5000"
				data-0="stroke-dashoffset:5000;" data-1500="stroke-dashoffset:0;" 

			d="M101.786,50c0,0-12.501,53.572,42.856,112.5
	s-60.714,91.072-66.071,125s21.429,126.786,44.643,153.571s49.489,67.857,36.352,98.214s-16.71-21.429-55.995,71.428
	S-1.383,633.928,77.88,758.928s107.834,46.429,104.263,175s25,32.144-35.714,171.429s-117.856,126.786-41.071,187.5"/>
</svg>


	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
    var s = skrollr.init();
    </script>
</body>
</body>