<div class="centered">
  <p class="staticpagestext" style="text-align:left">
  <strong>your name</strong><br>
  <%= @post.title %>
    <br>
    
  <strong>your thoughts</strong><br>
  <%= @post.text %>

<br>
<%= link_to 'back', posts_path %>
    
    </p></div></div>