<div class="centered">
  <div class="showposts">
    <p class="posttitle">name</p>
    <%= @post.title %>
    <br>
<br>    
  <p class="posttitle">thoughts</p><br>
  <%= @post.text %>

    <br><br><div id="rule"></div><br>
<%= link_to 'back', posts_path %>
    
</div></div>