/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
/*---reset-----*/

body { 
  padding-top: 50px;
  /*---- make background image better quality ----*/
  /*background-image: image-url("background.png");*/
  background-color: #c8c8c8;
  background-repeat: repeat-y;
  background-size: 100%;
}

.centered {
  width:1500px; /*use 2000px for exhibition*/ 
  height: 100%;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  text-align: center;
}

#skrollrviewwindow {
  width:1500px; /*use 2000 px for exhibition*/
  height:100%;
  position:fixed;
  /*background-color: #e2f0b6;*/
  /*may have to add overflow-x: scroll; property when changing image components to fixed sizes*/
}

#navbar {
	position: fixed;
	top: -10px;
  left: -10px;
  float: left;
  width: 100%;
  height: 30px;
  background-color: #d3d3d3;
  z-index: 1
}

/* will need to change these to be specific to certain pages rather than all of them
or specify classes otherwise all lists end up looking like navbar. awkwardlol. possibly make them a class rather than an id?*/

#navbar li {
	display: inline;  
	font-family: 'Libre Baskerville', serif;
	font-color: #000000;
  font-style: italic;
  font-size: 15pt;
  padding: 0 5%;
	
}


 
a:link {
  color:#aaaaaa;}    /* unvisited link */
a:visited {
  color:#666666;} /* visited link */
a:hover {
  color:#6dcff6;}   /* mouse over link */
a:active {
  color:#FFFFFF;}  /* selected link */

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

body {font-family: 'Libre Baskerville', serif;
      font-size:large;
}

hr {background-color:#6dcff6;
    height: 2px;
    border: none;
}

.button {
  height: 100%;
  width: 200px;
  margin: auto auto;
  background-color: #666666;
  color: white;
  border: 0px;
  font-size: medium;
  font-family: 'libre baskerville', serif;
  font-style: italic;
  border-radius: 5px;
}

.button:hover {
    background-color: #6dcff6;
}

.button a:hover {
  color: white;
}

.button a:visited {
  color:#ffffff
}

.staticpagestext {
  width: 800px;
  margin-left: 350px;
  line-height: 150%;
}

.titles {
  width: 250px;
  left: 700px;
}

.title2 {
  width: 500px;
  left: 500px;
}