/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-254px;
}

/* will need to change these to be specific to certain pages rather than all of them
or specify classes otherwise all lists end up looking like navbar. awkwardlol*/
ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #3e3c68;
	padding: 5px;
	background-color: #3e3c68
}