#outer {
    width: 100%;
    position: relative; /*this has to be relative otherwise shit gets fucked up*/
}

.inner {
    float: left;
    background-color: #d3d3d3;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 10px 10px;
}


#fillers{
			display: none;
		}
		.fillerBox {
			float: left;
			position: relative;
		}


.posttitle {
    font-weight: bold;
  
}

.textarea {
  background-color: #d3d3d3;
  width: 700px;
  text-align: left;
  border: 0px;
  border-radius: 5px;
}

#notcentertext {
  text-align: left;
  padding-left: 405px;
  font-size: medium;
  font-style: italic;
}

#rule {
  height: 2px;
  width: 700px;
  background-color: #6dcff6;
  margin: 5px 0px 10px 400px;
}

.theform {
  width: 50px
}

#title {
  height: 50px;
}

