#outer {
    width: 100%;
    background-color: white;
    position: relative; /*this has to be relative otherwise shit gets fucked up*/
}

.inner {
    float: left;
    background-color: #d3d3d3;
    position: relative;
    overflow-y: scroll; /*make the scrollbars less ugly at some point*/
}

.posttitle {
    font-weight: bold;
  
}