#outer {
    width: 100%;
    position: relative; /*this has to be relative otherwise shit gets fucked up*/
}

.inner {
    float: left;
    height: 100%;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 10px 10px;
    border-radius: 10px;
}

/* --------------------------------------------- */
#fillers{
			display: none;
		}
		.fillerBox {
			float: left;
			position: relative;
		}


.posttitle {
     font-style: italic;
     padding-bottom: 6px;
}

.textarea {
  background-color: #d3d3d3;
  width: 700px;
  text-align: left;
  border: 0px;
  border-radius: 5px;
}

#notcentertext {
  text-align: left;
  padding-left: 405px;
  font-size: medium;
  font-style: italic;
}

#rule {
  height: 2px;
  width: 700px;
  background-color: #6dcff6;
  margin: auto auto;
}

.theform {
  width: 50px
}

#title {
  height: 50px;
}

#showbox {
  background-color: #6dcff6;
  width: 700px;
  text-align: left;
  margin-top: 100px;
  margin-left: 400px;
  border: 0px;
  border-radius: 5px;
}

.showposts {
  width: 700px;
  height: 600px;
  margin-left: 400px;
  text-align: left;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px 20px;
}