.questions {
  list-style:none;
  font-size: xx-large;
  line-height: 150%;
}


#presintro {
  position: absolute;
  width: 900px;
  right: 300px;
  z-index: 60;
}

#painted1 {
  position:absolute;
  width: 700px;
  right:400px;
}

#paint {
  position:absolute;
  width:700px;
  right: 400px;
}

.presentation {
  font-size: xx-large;
  width: 800px;
}

.cp {
  position:absolute;
}

#cprop1 {
  position:absolute;
  top: 0px;
  width: 550px;
  right: 500px;
}

#cprop2 {
  position:absolute;
  top: 0px;
  width: 550px;
  right: 500px;
  z-index: -1;
}

#cprop3 {
  position:absolute;
  top: 0px;
  width: 550px;
  right: 500px;
  z-index: -1;
}

.info {
  position:absolute;
  top:0px;
  width: 250px;
  right: 625px;
}

#whyisthis {
  position:absolute;
  width: 700px;
  right: 400px;
}

#theory1 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: -1;
}

#theory2 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: 1;
}

#theory3 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: 2;
}

#theory4 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: 3;
}

#mainpagedemo {
  position: absolute;
  width: 700px;
  height: 50px;
  z-index: 50;
}

#thanks {
  width: 700px;
  right: 400px;
  position: absolute;
  z-index: 70;
}