.questions {
  list-style:none;
  font-size: xx-large;
  line-height: 150%;
}


#presintro {
  position: absolute;
  width: 900px;
  right: 300px;
  z-index: 60;
}

#painted1 {
  position:absolute;
  width: 700px;
  right:400px;
}

#paint {
  position:absolute;
  width:700px;
  right: 400px;
}

.presentation {
  font-size: xx-large;
  width: 800px;
}

.info {
  position:absolute;
  top:0px;
  width: 250px;
  right: 625px;
}

.facts {
    position: absolute;
    width: 700px;
    height: 150px;
    z-index: 90;
    border-radius: 10px;
    font-style: italic;
    font-size: x-large;
    color: #666666;
    padding: 10px 10px;
    text-align: left;
}

#futureintro {
  position:absolute;
  width: 800px;
  line-height: 150%;
}

#futureend {
  position:absolute;
  width: 800px;
  line-height: 150%;
}

#inprogress {
  width: 400px;
}