.questions {
  list-style:none;
  font-size: xx-large;
  line-height: 150%;
}

#painted1 {
  position:absolute;
  width: 700px;
  right:400px;
}

#paint {
  position:absolute;
  width:700px;
  right: 400px;
}

.presentation {
  font-size: xx-large;
  width: 800px;
}

.cp {
  position:absolute;
}

#cprop1 {
  position:absolute;
  top: 0px;
  width: 550px;
  right: 500px;
}

#cprop2 {
  position:absolute;
  top: 0px;
  width: 550px;
  right: 500px;
  z-index: -1;
}

#cprop3 {
  position:absolute;
  top: 0px;
  width: 550px;
  right: 500px;
  z-index: -1;
}

.info {
  position:absolute;
  top:0px;
  width: 250px;
  right: 625px;
}

#whyisthis {
  position:absolute;
  width: 700px;
  right: 400px;
}

#theory1 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: -1;
}

#theory2 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: 1;
}

#theory3 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: 2;
}

#theory4 {
  position:absolute;
  width: 600px;
  right:450px;
  z-index: 3;
}

#mainpagedemo {
  position: absolute;
  width: 700px;
  height: 50px;
  z-index: 50;
}
/* -------------------this stuff copied from the main page-------------------------- */
.facts {
    position: absolute;
    width: 700px;
    height: 150px;
    z-index: 70;
    border-radius: 10px;
    font-style: italic;
    font-size: x-large;
    color: #666666;
    padding: 10px 10px;
    text-align: left;
}

.referencetext {
  font-size: small;
  color: #444444;
  font-style: normal;
  text-align: left;
  padding-right: 10px;
  padding-top: 10px;
}

#screen {
  position: absolute;
  width: 1000px;
  right: 100px;
  top: 180px;
  z-index: -1;
}

#pip2 {
  width: 900px;
  position: absolute;
  z-index: 4;
  right: 600px;
  top: 50px;
}

#question1 {
       z-index: 54;
       position: absolute;
       width:1000px;
       right: 250px;
}

#linework2 {
  z-index: 20;
  margin-top: 80px;
  margin-left: 340px;
}