#linework {
  position: absolute;
  margin-left:25%;
  top:1970px;
  z-index: -1;
}

#text1 {
  position: absolute;
  width:40%;
	margin-left:9%;
  z-index: 50
}

#aim {
  position: absolute;
  width:40%;
  margin-left:9%;
  z-index: 51
}

#how {
  position: absolute;
  width:40%;
  margin-left:9%;
  z-index: 52
}

#funfact {font-family: garamond;
          font-size: x-large;
          font-style: italic;
          color:#aaaaaa;
          position: absolute;
          z-index: 53
}

#question {
       z-index: 54;
       position: absolute;
       width:40%;
       margin-left:9%
}

#drawings {
          position: absolute;
          top: 3000px;
          width:40%;
          margin-left:9%;
}

#precedents {
          position: absolute;
          top: 5300px;
          width:40%;
          margin-left:9%;
}