#skrollrviewwindow {
  width:1500px; /*use 2000 px for exhibition*/
  height:100%;
  position:fixed;
  background-color: #e2f0b6;
  /*may have to add overflow-x: scroll; property when changing image components to fixed sizes*/
}

#automargins {
  margin-left: 375px;
}

#intro {
  text-align: center;
  position: absolute;
}

#linework1 {
  z-index: 20;
  margin-top: 50px;
  margin-left: 300px;
}

#question1 {
       z-index: 54;
       position: absolute;
       width:1000px;
       right: 250px;
}

#question2 {
       z-index: 57;
       position: absolute;
       width:1000px;
       right: 250px;
}

#question3 {
       z-index: 65;
       position: absolute;
       width:1000px;
       right: 250px;
}

#question4 {
       z-index: 85;
       position: absolute;
       width:1000px;
       right: 250px;
}
  
#pip2 {
  width: 900px;
  position: absolute;
  z-index: 4;
  right: 600px;
}

.facts {
    position: absolute;
    width: 700px;
    height: 150px;
    z-index: 70;
    border-radius: 10px;
    font-style: italic;
    font-size: x-large;
    color: #666666;
    padding: 10px 10px;
}

.referencetext {
  font-size: small;
  color: #444444;
  font-style: normal;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

#screen {
  position: absolute;
  width: 1000px;
  right: 100px;
  top: 180px;
  z-index: -1;
  
}

#screen2 {
  position: absolute;
  width: 1000px;
  right: 100px;
  z-index: -1;
}

#nose1 {
  position: absolute;
  z-index: 72;
  width: 110px;
  right: 480px;
}

#pipback {
  position: absolute;
  width: 900px;
  right: 600px;
}

#strangers {
  position: absolute;
  width: 700px;
  right: 200px;
}

#smiling {
  position: absolute;
  width: 30%;
  margin-left: -10%;
  z-index: 80;
}

#finalbit {
  position: absolute;
  text-align: center;
  font-size: xx-large;
  width: 50%;
  margin-left: 25%;
 
}
  
